<!-- <p>login</p>
<input placeholder="Email"><br>
<div class="password">
    <mat-form-field appearance="fill">
      <input placeholder="Enter your password">
    </mat-form-field>
<button>Enter</button> -->



<div class="container">
    <div class="login">
        <mat-card>
            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
                <form>
                    <h3>Email</h3> 
                    <mat-form-field>
                        <input type="text" matInput placeholder="Exemplo@gmail.com" formControlName="Email">
                    </mat-form-field> 
                    <h3>Password</h3> 
                    <mat-form-field>
                        <input type="password" matInput placeholder="Password" formControlName="password">
                    </mat-form-field><br>
                   
                    <button class="button button3">Login</button> 
                    
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>