
<form [formGroup] ="loginForm" class="loginForm" (ngSubmit)="onLogOnClick()">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput type="text" placeholder="enter username" formControlName="username">

  </mat-form-field>
  <br>

  <mat-form-field  appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="enter password" value="" formControlName="password" name="password" type="password">
  </mat-form-field>
  <br>

  <button mat-raised-button color="black" [disabled]="loginForm.invalid" (click)="onLogOnClick()">Login</button>
  <br>

</form>

