<form [formGroup]="driverForm" (ngSubmit)="onSubmit()" class="new-carga-form">
  <p>Create New Driver</p>

  <mat-form-field appearance="fill">
    <mat-label>Nif</mat-label>
    <input matInput class="cargaInput" type="text" placeholder="enter AWB" formControlName="AWB">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>FirstName</mat-label>
    <input matInput class="cargaInput" type="text" placeholder="origem" formControlName="origin">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>LastName</mat-label>
    <input matInput class="cargaInput" type="text" placeholder="destino" formControlName="destination">
  </mat-form-field>

  <br>
  <mat-form-field appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput class="cargaInput" type="number" placeholder="pecas" formControlName="pieces">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput class="cargaInput" type="number" placeholder="peso" formControlName="weight">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Code</mat-label>
    <input matInput class="cargaInput" type="number" placeholder="volume" formControlName="volume">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>CarBrand</mat-label>
    <input matInput class="cargaInput" type="text" placeholder="description" formControlName="description">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>CarModel</mat-label>
    <input matInput class="cargaInput" type="text" placeholder="flight" formControlName="flight">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>LicensePlate</mat-label>
    <input matInput class="cargaInput" type="text" placeholder="flight" formControlName="flight">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Shift</mat-label>
    <input matInput class="cargaInput" type="text" placeholder="flight" formControlName="flight">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>LastTrip</mat-label>
    <input matInput class="cargaInput" type="text" placeholder="flight" formControlName="flight">
  </mat-form-field>
  <br>


  <button mat-raised-button (click)="onSubmit()">Criar Nova Carga</button>
  <br>

</form>
