/* 
with fixed navbar must change padding: 20px to 80px
*/
.clients-container {
  background-color: lightgrey;
  padding: 40px 40px 40px 40px;
  height: 100vh;
}

.ban:hover {
  cursor: pointer;
  color: #c20000;
} 

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 80px;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 0 0 100px;
}

.mat-cell:nth-child(8),
.mat-header-cell:nth-child(8) {
  flex: 0 0 60px;
}
/* Row hover bakground */
.mat-row:hover .mat-cell{
  background-color: #f0f0f0;
}

.green-icon {
  color: rgb(0, 150, 0);
}

.red-icon {
  color: #f44336;
}

