<app-navbar [title]="title"></app-navbar>
<div class="clients-container">
  <h1><strong>Clients List</strong></h1>
  <mat-form-field appearance="standard">
    <mat-label>Search filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="search..." #input>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>email</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="emailVerified">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Verified </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon class="green-icon" *ngIf="element?.status.emailVerified === true">verified_user</mat-icon>
        <mat-icon class="red-icon" *ngIf="element?.status.emailVerified === false">verified_user</mat-icon> 
        <!-- matTooltipPosition="right"  -->
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>phone</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>firstName</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>lastName</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="paymentMethod">
      <mat-header-cell *matHeaderCellDef mat-sort-header>paymentMethod</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.paymentMethod}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isBanned">
      <mat-header-cell *matHeaderCellDef mat-sort-header>isBanned</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="element?.status.isBanned === false" class="badge badge-success">Active</span>
        <span *ngIf="element?.status.isBanned === true" class="badge badge-danger">Banned</span>
      </mat-cell>
    </ng-container>

   <ng-container matColumnDef="ban">
      <mat-header-cell *matHeaderCellDef>Ban</mat-header-cell>
      <mat-cell *matCellDef="let element"><a class="ban" (click)="onBanClick(element)"><mat-icon>cancel</mat-icon></a></mat-cell>
      <!-- <mat-cell *matCellDef="let element"><button mat-button (click)="onBanClick(element)" class="operations-button"><mat-icon>delete</mat-icon></button></mat-cell> -->
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator id="paginator" class="mat-elevation-z2" #page [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>