<div class="book-container">

  <button mat-button [matMenuTriggerFor]="menu">Options</button>

  <mat-menu #menu="matMenu" [formGroup]="toppings">
    <p>
      <mat-checkbox (change)="onChange($event)" formControlName="AWB">AWB</mat-checkbox>
    </p>
    <p>
      <mat-checkbox (change)="onChange($event)" formControlName="origin">Origem</mat-checkbox>
    </p>
    <p>
      <mat-checkbox (change)="onChange($event)" formControlName="destination">Destino</mat-checkbox>
    </p>
    <p>
      <mat-checkbox (change)="onChange($event)" formControlName="pieces">Peças</mat-checkbox>
    </p>
    <p>
      <mat-checkbox (change)="onChange($event)" formControlName="weight">Peso</mat-checkbox>
    </p>
    <p>
      <mat-checkbox (change)="onChange($event)" formControlName="volume">Volume</mat-checkbox>
    </p>
    <p>
      <mat-checkbox (change)="onChange($event)" formControlName="description">Descrição</mat-checkbox>
    </p>
    <p>
      <mat-checkbox (change)="onChange($event)" formControlName="flight">Voo</mat-checkbox>
    </p>

  </mat-menu>

  <table mat-table [dataSource]="clients" class="mat-elevation-z8">

    <ng-container matColumnDef="AWB">
      <th mat-header-cell *matHeaderCellDef>AWB</th>
      <td mat-cell *matCellDef="let element"> {{element.AWB}} </td>
    </ng-container>

    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef>Origem</th>
      <td mat-cell *matCellDef="let element"> {{element.origin}} </td>
    </ng-container>

    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef>Destino</th>
      <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
    </ng-container>

    <ng-container matColumnDef="pieces">
      <th mat-header-cell *matHeaderCellDef>Peças</th>
      <td mat-cell *matCellDef="let element"> {{element.pieces}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Peso(Kg)</th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <ng-container matColumnDef="volume">
      <th mat-header-cell *matHeaderCellDef>Volume(m3)</th>
      <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descrição</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="flight">
      <th mat-header-cell *matHeaderCellDef>Voo</th>
      <td mat-cell *matCellDef="let element"> {{element.flight}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"><button mat-button (click)="onEditClick(element)" class="operations-button"><mat-icon>edit</mat-icon></button></td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"><button mat-button (click)="onDeleteClick(element)" class="operations-button"><mat-icon>delete</mat-icon></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
