<div class="navbar">
    <mat-toolbar color="primary">
        
        <span><strong>{{title}}</strong></span>
        <input type="text" placeholder="Search">
        <mat-icon>search</mat-icon>

        <span class="example-spacer"></span>

        <h3>Admin@gmail.com</h3>

        <button>
            <mat-icon>settings</mat-icon>
        </button>


    </mat-toolbar>
</div>

<div class="sidebar">
    <a href="#home"> Perfil</a>
    <a href="#services"> Drivers</a>
    <a href="#clients"> Clients</a>
    <a href="#Charts"> Charts</a>
    <a href="#contact"> Issues</a>

</div>