<div class="dashboard">

    <div class="navbar">
        <mat-toolbar color="primary">

            <span><strong>{{title}}</strong></span>
            <input type="text" placeholder="Search">
            <mat-icon>search</mat-icon>

            <span class="example-spacer"></span>

            <h3>Admin@gmail.com</h3>

            <button>
                <mat-icon>settings</mat-icon>
            </button>


        </mat-toolbar>
    </div>

    <div class="sidebar">
        <a href="#perfil"> Perfil</a>
        <a href="#drivers"> Drivers</a>
        <a href="#clients"> Clients</a>
        <a href="#Charts"> Charts</a>
        <a href="#issues"> Issues</a>

    </div>



    <div class="grid-container">
        <div class="grid-item item1">Trips today</div>
        <div class="grid-item item2">2</div>
        <div class="grid-item item3">3</div>
        <div class="grid-item item4">4</div>
        <div class="grid-item item5">5</div>
        <div class="grid-item item6">6</div>

    </div>

</div>