<div id="navigation-bar">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="dashboard" class="navbar-brand">QUIK - Administration Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="#" class="nav-link" routerLink="../dashboard">Home </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" routerLink="../clients">Clients</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" routerLink="../drivers">Drivers</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" routerLink="../issues">Issues</a>
      </li>
      <!-- <li class="nav-item">
        <a href="trips" class="nav-link" routerLink="#">Trips</a>
      </li> -->
      <li class="nav-item">
        <a href="maps" class="nav-link" routerLink="../maps">Maps</a>
      </li>
      
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Logout {{ username }}</a>
      </li>
    </ul>
    </div>
  </nav>
</div>
