body{
    display: block;
    margin: 0;
}

.example-spacer {
    flex: auto;
    /* border: 2px solid red; */
    margin-left: 50px;
}
.navbar{
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar .mat-toolbar-single-row{
  padding: 0 30px;
}
.dashboard{
  width: 100%;
  height: fit-content;
  background-color: grey;
  align-items: center;
  padding-top:  64px;
 
}
.sidebar {
    /* color: black; */
    height: 100%;
    width: 30px;
    position: fixed;
    z-index: 1;
    top: 10;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
    /* border: 2px solid white; */
  }

.icon{
  color: #818181;
}

.sidebar:hover {
  color: white;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 10;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding: 20px;
    /* border: 2px solid red; */
    /* text-align: center; */
  }
.icon{
  /* border: 2px solid red; */
  justify-content: left;
}

.sidebar a {
    padding: 6px 28px 6px 0px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;    
    /* visibility: hidden; */
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}

.sidebar a :hover {
    color:lightgrey;
    visibility: visible;
}


.grid-container {
  display: grid;
  margin: 30px 30px 0 60px;
  gap: 20px;
  padding-bottom: 30px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 91.4px;
  font-size: 30px;
}



.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.item5 {
  grid-column: 1 / span 3;
  grid-row: 3;
}

.icondashboard{
  font-size: 0cm;
  border: 2px solid red;
}

.icondriver{
border: 2px solid red;
}

span{
  font-size: small;
}

ul,li{
  
  padding-left: 0;
  /* border: 2px solid red; */
}