<div class="dashboard">

    <div class="navbar">
        <mat-toolbar class="myNavBar">

            <span><strong>{{title}}</strong></span>
            <input type="text" placeholder="Search">
            <mat-icon> search</mat-icon>

            <span class="example-spacer"></span>

            <h3> {{user_name}} </h3>

            <button>
                <mat-icon (click)="logOut()" >exit_to_app</mat-icon>
            </button>


        </mat-toolbar>
    </div>

    <div class="sidebar">
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/drivers">Drivers</a>
      <a routerLink="/clients">Clients</a>
      <a routerLink="/issues">Issues</a>
      <a routerLink="/chart-Drivers">Charts</a>


    </div>





</div>

<router-outlet></router-outlet>


