<div class="dashboard">

    <div class="navbar">
        <mat-toolbar class="myNavBar">

            <span><strong>{{title}}</strong></span>
            <input type="text" placeholder="Search">
            <mat-icon> search</mat-icon>

            <span class="example-spacer"></span>

            <h3> {{user_name}} </h3>

            <button>
                <mat-icon (click)="logOut()">exit_to_app</mat-icon>
            </button>


        </mat-toolbar>
    </div>

    <div class="sidebar">
        <ul>
            <li><a routerLink="/dashboard">
                    <mat-icon class="icon">dashboard</mat-icon><span class="texto">Dashboard</span>
                </a></li>
            <li><a routerLink="/drivers">
                    <mat-icon class="icon"> directions_car</mat-icon><span class="texto"> Drivers</span>
                </a></li>
            <li><a routerLink="/clients">
                    <mat-icon class="icon">supervisor_account</mat-icon><span class="texto">Clients</span>
                </a></li>
            <li><a routerLink="/issues">
                    <mat-icon class="icon">report_problem</mat-icon><span class="texto">Issues</span>
                </a></li>
            <li><a routerLink="/chart-Drivers">
                    <mat-icon class="icon">show_chart</mat-icon><span class="texto"> Charts</span>
                </a></li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>