
<form [formGroup]="editForm" class="new-voo-form">

  <mat-dialog-content>
    <p>
      {{message}} {{driver.email}}
    </p>
  </mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput id="firstName" type="text" formControlName="firstName">
  </mat-form-field>
  

  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput id="lastName" type="text" formControlName="lastName">

  </mat-form-field>
  

  <mat-form-field appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput id="phone" type="number" formControlName="phone">

  </mat-form-field>

  <!-- <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput id="email" type="text" formControlName="email">

  </mat-form-field> -->

  <mat-form-field appearance="fill">
    <mat-label>Code</mat-label>
    <input matInput id="code" type="number" formControlName="code">

  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CarBrand</mat-label>
    <input matInput id="carBrand" type="text" formControlName="carBrand">

  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CarModel</mat-label>
    <input matInput id="carModel" type="text" formControlName="carModel">

  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>LicensePlate</mat-label>
    <input matInput id="licensePlate" type="text" formControlName="licensePlate">

  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Shift</mat-label>
    <input matInput id="shift" type="number" formControlName="shift">

  </mat-form-field>
  <br>

  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1"><mat-icon>done</mat-icon></button>
    <button mat-raised-button mat-dialog-close tabindex="-1" (click)="onCancelClick()"><mat-icon>cancel</mat-icon></button>
  </mat-dialog-actions>

</form>




