/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.navbar {

  z-index: 1;
}

.myNavBar {
  background-color: black;
  color: white;

}
.advanced-pie-legend .legend-items-container .legend-items {
  white-space: nowrap;
  overflow: visible !important ;

}
