/* You can add global styles to this file, and also import other style files */

.advanced-pie-legend .legend-items-container .legend-items {
  white-space: nowrap;
  overflow: visible !important ;
}

.mat-body, .mat-body-1, .mat-typography .mat-body, .mat-typography .mat-body-1, .mat-typography {
  font: 400 14px/32px Roboto,"Helvetica Neue", sans-serif;
  letter-spacing: normal;
}