<app-navbar [title]="title"></app-navbar>
<div class="drivers-container">
  <h1><strong>Drivers List</strong></h1>
    <button mat-raised-button type="button" class="dark-btn-add-river f-r" (click)="createDriver()">Create New Driver</button>
    <mat-form-field appearance="standard">
      <mat-label>Search filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="search..." #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>
      <ng-container matColumnDef="nif">
        <mat-header-cell *matHeaderCellDef mat-sort-header="nif">Nif</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nif}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header="firstName">FirstName</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header="lastName">LastName</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header="phone">Phone</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header="email">Email</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>>
      </ng-container>

      <ng-container matColumnDef="service.code">
        <mat-header-cell *matHeaderCellDef mat-sort-header="service.code">Code</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.service.code | enumServiceCodeToText}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="service.carBrand">  
        <mat-header-cell *matHeaderCellDef mat-sort-header="service.carBrand">CarBrand</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.service.carBrand}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="service.carModel">
        <mat-header-cell *matHeaderCellDef mat-sort-header="service.carModel">CarModel</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.service.carModel}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="service.licensePlate">
        <mat-header-cell *matHeaderCellDef mat-sort-header="service.licensePlate">LicensePlate</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.service.licensePlate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="shift">
        <mat-header-cell *matHeaderCellDef mat-sort-header="shift">Shift</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.shift | enumShiftToText}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastTrip">
        <mat-header-cell *matHeaderCellDef mat-sort-header="lastTrip">LastTrip</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastTrip | date:'d/M/yy, HH:mm'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
          <mat-cell *matCellDef="let element"><a class="edit" (click)="onEditClick(element)"><mat-icon>edit</mat-icon></a></mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
          <mat-cell *matCellDef="let element"><a class="delete" (click)="onDeleteClick(element)"><mat-icon>cancel</mat-icon></a></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator id="paginator" class="mat-elevation-z2" #page [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </div>