/*mat-table {
  width: 100%;
  background-color: lightgrey;
} */


.drivers-container {
  background-color: lightgrey;
  padding: 40px 40px 40px 40px;
  height: 100vh;
}

.dark-btn-add-river {
  background-color: #343a40; 
  color:rgba(255,255,255,.5);
}

.dark-btn-add-river:hover {
  background-color: black;
  color:rgba(255,255,255,.75);
}

.f-l {
  float: left;
}
  
.f-r {
  float: right;
}

.delete:hover {
  cursor: pointer;
  color: #c20000;
} 

.edit:hover {
  cursor: pointer;
  color: #c20000;
} 

.mat-cell:nth-child(12),
.mat-header-cell:nth-child(12) {
  flex: 0 0 60px;
}

.mat-cell:nth-child(13),
.mat-header-cell:nth-child(13) {
  flex: 0 0 60px;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5) {
  flex: 0 0 180px;
}

