<div class="fundo">

  <div class="book-container">
    <h1><strong>Drivers List</strong></h1>
    <button mat-button [matMenuTriggerFor]="menu">Options</button>

    <mat-menu #menu="matMenu" [formGroup]="toppings">
      <p>
        <mat-checkbox (change)="onChange($event)" formControlName="nif">nif</mat-checkbox>
      </p>
      <p>
        <mat-checkbox (change)="onChange($event)" formControlName="firstName">firstName</mat-checkbox>
      </p>
      <p>
        <mat-checkbox (change)="onChange($event)" formControlName="lastName">lastName</mat-checkbox>
      </p>
      <p>
        <mat-checkbox (change)="onChange($event)" formControlName="phone">phone</mat-checkbox>
      </p>
      <p>
        <mat-checkbox (change)="onChange($event)" formControlName="email">email</mat-checkbox>
      </p>
      <p>
        <mat-checkbox (change)="onChange($event)" formControlName="code">code</mat-checkbox>
      </p>
      <p>
        <mat-checkbox (change)="onChange($event)" formControlName="carBrand">carBrand</mat-checkbox>
      </p>
      <p>
        <mat-checkbox (change)="onChange($event)" formControlName="carModel">carModel</mat-checkbox>
      </p>
      <p>
        <mat-checkbox (change)="onChange($event)" formControlName="licensePlate">licensePlate</mat-checkbox>
      </p>
      <p>
        <mat-checkbox (change)="onChange($event)" formControlName="shift">shift</mat-checkbox>
      </p>
      <p>
        <mat-checkbox (change)="onChange($event)" formControlName="lastTrip">lastTrip</mat-checkbox>
      </p>

    </mat-menu>

    <a mat-button routerLink="/newDriver">Create New Driver</a>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="nif">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nif</th>
        <td mat-cell *matCellDef="let element"> {{element.nif}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FirstName</th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LastName</th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
        <td mat-cell *matCellDef="let element"> {{element.service.code}} </td>
      </ng-container>

      <ng-container matColumnDef="carBrand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CarBrand</th>
        <td mat-cell *matCellDef="let element"> {{element.service.carBrand}} </td>
      </ng-container>

      <ng-container matColumnDef="carModel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CarModel</th>
        <td mat-cell *matCellDef="let element"> {{element.service.carModel}} </td>
      </ng-container>

      <ng-container matColumnDef="licensePlate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LicensePlate</th>
        <td mat-cell *matCellDef="let element"> {{element.service.licensePlate}} </td>
      </ng-container>

      <ng-container matColumnDef="shift">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Shift</th>
        <td mat-cell *matCellDef="let element"> {{element.shift}} </td>
      </ng-container>

      <ng-container matColumnDef="lastTrip">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LastTrip</th>
        <td mat-cell *matCellDef="let element"> {{element.lastTrip}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"><button mat-button (click)="onEditClick(element)"
            class="operations-button">
            <mat-icon>edit</mat-icon>
          </button></td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"><button mat-button (click)="onDeleteClick(element)"
            class="operations-button">
            <mat-icon>delete</mat-icon>
          </button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator id="paginator" #page [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>